@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    border: None;
    text-decoration: None;
    font-family: 'Roboto', sans-serif;
}

.flex{
    display: flex;
    gap: 5px;
}

h1{
    margin-bottom: 30px;
    text-align: center;
    font-weight: 900;
}
h2{
    margin: 20px 0;
}

section{
    width: 80vw;
    margin: auto;
    border: 1px solid rgba(128, 128, 128, 0.101);
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #0000001d;
    margin-bottom: 30px;
}

input, textarea{
    box-sizing: border-box;
    border: 0.5px solid grey;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    margin-bottom: 10px;
    resize: none;
}
label{
    display: block;
    margin-bottom: 10px;
}
button{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: rgb(76, 195, 88);
    box-shadow: 3px 3px 5px #00000046;
}
.receiver-list{
    border: 1px solid rgba(128, 128, 128, 0.101);
    border-radius: 5px;
    padding: 5px 5px;
    height: 20vh;
    overflow-y: scroll;
}
.receiver-list div{
    background-color: rgba(128, 128, 128, 0.052);
    padding: 5px 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    align-items: center;
    justify-content: baseline;
    box-shadow: 3px 3px 5px #00000027;
}
.receiver-list label{
    margin: 0;
}
.checkbox{
    width: auto;
    margin: 0;
}

@media only screen and (min-width: 1000px){
    .mq-flex{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    form{
        padding-bottom: 30px;
    }
    .receiver-list{
        height: 30vh;
    }
    .subject-message{
        width: 55%;
    }
    .mail-to{
        width: 35%;
    }
    button{
        width: 50%;
    }
    #send-mail{
        display: flex;
        flex-direction: column;
    }
    #add-mail{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #add-mail input{
        width: 55%;
        margin: 0;
    }
    #add-mail button{
        width: 35%;
        margin: 0;
    }
    #send-mail button{
        margin: auto;
        margin-top: 20px;
    }
}